{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Barun+Gothic:400,700&display=swap">
        <title>{% block title %}Techrank.{% endblock title %}</title>
    </head>
    <body>
        {% block content %}
        <div class="container">
            <div class="banner">
                <img src="{% static 'images/logo.svg' %}" alt="logo" class="logo_img" />
                <p>신입 개발자를 위한 기술 스택 랭킹 정보</p>
                <h1>최근 기업들이 신입에게 요구하는<br>기술 스택을 확인해 보세요!</h1>
            </div>

            <div class="search">
                <form action="{% url 'main:result_view' %}" method="POST" onsubmit="return validateForm()" id="search_form">
                    {% csrf_token %}
                    <select name="job_position" id="job_position">
                        <option value="" disabled selected id="form_job">직무</option>
                        {% for job_position in job_positions %}
                            <option value="{{ job_position.name }}">{{ job_position.name }}</option>
                        {% endfor %}
                    </select>

                    <select name="location_sido" id="sido">
                        <option value="" disabled selected>지역</option>
                        {% for sido in location_sido %}
                            <option value="{{ sido }}">{{ sido }}</option>
                        {% endfor %}
                    </select>
                    <select name="location_sigg" id="sigg">
                        <option value="" disabled selected>상세지역</option>
                        {% for sigg in location_sigg %}
                            <option value="{{ sigg }}" >{{ sigg }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">검색하기</button>
                </form>
            </div>
        </div>    
        {% endblock content %}
        <script src="{% static 'js/search_script.js' %}"></script>
        <script>
            // Django에서 전달한 메시지가 있다면 얼럿 창으로 표시
            {% if messages %}
                {% for message in messages %}
                    var errorMessage = '{{ message }}';
                    alert(errorMessage);
                    {% endfor %}
            {% endif %}
        </script>
    </body>
</html>