{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Barun+Gothic:400,700&display=swap">
        <title>{% block title %}Techrank.{% endblock title %}</title>
    </head>
    <body>
        {% block content %}
        <div class="container">
            <div class="banner">
                <img src="{% static 'images/logo.png' %}" alt="logo" class="logo_img" />
                <p>신입 개발자를 위한 기술 스택 랭킹 정보</p>
                <h1>최근 기업들이 신입에게 요구하는<br>기술 스택을 확인해 보세요!</h1>
            </div>
            <div class="search">
                <form action="{% url 'result_view_name' %}" method="POST">
                    {% csrf_token %}
                    <!-- 다른 입력 필드들과 제출 버튼을 포함 -->
                    <input type="dropbox" name="job_positions" />
                    <input type="dropbox" name="location" />
                    <button type="submit">검색하기</button>
                </form>
                
                <!--
                <input type="radio" name="job_positions" id="" value="서버/백엔드 개발자">
                <input type="radio" name="sido" id="sido3" value="경기">
                <input type="radio" name="sigg" id="sigg1" value="성남시">
                -->
            </div>
        </div>    
        {% endblock content %}
    </body>
</html>
