{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Barun+Gothic:400,700&display=swap">
        <title>{% block title %}Techrank.{% endblock title %}</title>
    </head>
    <body>
        {% block content %}
        <div class="container">
            <div class="banner">
                <img src="{% static 'images/logo.svg' %}" alt="logo" class="logo_img" />
                <p>신입 개발자를 위한 기술 스택 랭킹 정보</p>
                <h1>최근 기업들이 신입에게 요구하는<br>기술 스택을 확인해 보세요!</h1>
            </div>
            <div class="search">
                <form action="{% url 'main:temp_result' %}" method="POST">
                    {% csrf_token %}
                    <!-- form 만들어서 수정하기
                    {{ form.job_position }}
                    {{ form.location }}
                    -->
                    <select id="job_position" name="job_position">
                        <option value="" disabled selected>직무</option>
                        {% for job_position in job_position_list %}
                            <option value="{{ job_position }}">{{ job_position }}</option>
                        {% endfor %}
                    </select>

                    <select id="sido" name="sido">
                        <option value="" disabled selected>시도</option>
                        {% for sido in sido_list %}
                            <option value="{{ sido }}">{{ sido }}</option>
                        {% endfor %}
                    </select>

                    <select id="sigg" name="sigg">
                        <option value="" disabled selected>시군구</option>
                        <!--선택한 sido에 맞는 sigg가 create-->
                    </select>

                    <button type="submit">검색하기</button>
                </form>
            </div>
        </div>    
        {% endblock content %}


        <script>

            // 시도가 변경될 때 시군구 옵션 업데이트
            document.getElementById("sido").addEventListener("change", function () {
                var selectedSido = this.value;
                var siggSelect = document.getElementById("sigg");
                siggSelect.innerHTML = ""; // 시군구 옵션 초기화

                var siggOptions = [];

                var sigg_dict = JSON.parse('{{ sigg_dict_json|escapejs }}');

                if (selectedSido in sigg_dict) {
                siggOptions = sigg_dict[selectedSido];
                }

                for (var i = 0; i < siggOptions.length; i++) {
                    var option = document.createElement("option");
                    option.value = siggOptions[i];
                    option.text = siggOptions[i];
                    siggSelect.appendChild(option);
                }
            });
    </script>

    </body>
</html>
